body {
    text-align: center;
    background-color: #ffffff;
    margin: 0px
  }
  
  div {
    margin-top: 15px;
  }
  
  .image-section {
    display: flex;
    justify-content: center;
  }
  
  .section-style {
    margin-right: 25px;
    margin-left: 25px;
    background-color: white;
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: #ffffff;
    padding: 0px;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 0px;
    font-size: 30px;
    text-align: center;
  }